/* Color Theme Swatches in Hex */
.gap-25 {
  height: 25px;
}
.gap-50 {
  height: 50px;
}
.gap-100 {
  height: 100px;
}
.gap-150 {
  height: 150px;
}
.gap-200 {
  height: 200px;
}
@media (max-width: 768px) {
  .col-lg-4 {
    padding: 0 !important;
  }
}
.order-container-loader {
  height: 80vh;
}
.back-box .back-inside {
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #335c76;
}
.back-box .back-inside i {
  width: 100px;
  text-align: center;
  font-size: 32px;
  padding: 5px;
}
.back-box .back-inside span {
  width: 70%;
  padding: 5px;
  font-size: 24px;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}
@media (max-width: 512px) {
  .back-box .back-inside span {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .back-box {
    padding: 5px;
    margin-bottom: 20px;
  }
  .back-box .back-inside {
    background-color: #003354;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    border-radius: 25px;
  }
  .back-box .back-inside i {
    width: 100%;
    font-size: 125px;
    color: #e9f2f6;
  }
  .back-box .back-inside span {
    font-size: 18px !important;
    text-align: center;
    color: #e9f2f6;
  }
  .back-box .back-inside:hover {
    background-color: #002943;
  }
  .back-box .back-inside:active {
    background-color: #335c76;
  }
}
.cart-box {
  width: 90vw;
  max-width: 512px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #F26101;
  margin: auto;
  margin-bottom: 2.5%;
  border-radius: 15px;
}
.cart-box a.checkout {
  border-radius: 15px 0 0 15px;
}
.cart-box a.clear-cart {
  border-radius: 0 15px 15px 0;
}
.cart-box a:hover {
  background-color: #da5701;
}
.cart-box a:active {
  background-color: #f3711a;
}
.cart-box .checkout {
  color: white;
  text-decoration: none;
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.cart-box .checkout i {
  font-size: 64px;
  margin-right: 20px;
}
.cart-box .checkout span {
  font-family: 'Muli', sans-serif;
}
.cart-box .checkout h5 {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  margin: 0;
}
.cart-box .clear-cart {
  width: 20%;
  height: 100%;
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 512px) {
  .cart-box .clear-cart {
    justify-content: flex-start;
  }
}
.cart-box .clear-cart i {
  font-size: 48px;
}
