/* Color Theme Swatches in Hex */
.gap-25 {
  height: 25px;
}
.gap-50 {
  height: 50px;
}
.gap-100 {
  height: 100px;
}
.gap-150 {
  height: 150px;
}
.gap-200 {
  height: 200px;
}
.receipt-container {
  background-color: white;
  width: 330px;
  height: auto;
  padding: 20px 10px;
  border: 0.5px solid #e9f2f6;
  color: #003354;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Muli', sans-serif;
}
.receipt-container hr {
  width: 100%;
  border-bottom: 1px solid #003354 !important;
}
.receipt-container .receipt-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.receipt-container .receipt-logo img {
  width: 20%;
}
.receipt-container .receipt-logo h1 {
  font-weight: 800;
  margin: 0;
  width: 70%;
  text-align: center;
  text-overflow: clip;
}
.receipt-container .receipt-address {
  width: 100%;
  padding: 0 10px;
}
.receipt-container .receipt-address p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
.receipt-container .receipt-order {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receipt-container .receipt-order .row {
  width: 95%;
}
.receipt-container .receipt-order .row h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.receipt-container .receipt-order .row .key {
  width: 30%;
  font-weight: 800;
}
.receipt-container .receipt-order .row .separator {
  width: 5%;
  text-align: center;
}
.receipt-container .receipt-order .row .value {
  width: 65%;
}
.receipt-container .receipt-item {
  padding: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receipt-container .receipt-item h6 {
  padding: 0;
  margin: 0;
}
.receipt-container .receipt-item .row {
  width: 95%;
}
.receipt-container .receipt-item .row .item-name {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.receipt-container .receipt-item .row .item-name h6 {
  font-weight: 800;
}
.receipt-container .receipt-item .row .item-name span {
  font-size: 12px;
  padding-left: 10px;
}
.receipt-container .receipt-item .row .item-qty {
  width: 10%;
  text-align: center;
}
.receipt-container .receipt-item .row .item-price {
  width: 30%;
  text-align: right;
}
.receipt-container .receipt-calculation {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receipt-container .receipt-calculation hr {
  border-bottom: 2px solid #003354 !important;
  margin: 0.5rem;
}
.receipt-container .receipt-calculation .row {
  width: 95%;
}
.receipt-container .receipt-calculation .row h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.receipt-container .receipt-calculation .row .key {
  width: 60%;
  font-weight: 800;
}
.receipt-container .receipt-calculation .row .value {
  width: 40%;
  text-align: right;
}
.receipt-container .app-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
.receipt-container .app-logo img {
  width: 150px;
}
.receipt-container .app-logo h1 {
  margin: 0;
  padding: 0;
  margin-top: -30px;
  font-family: 'Passion One', sans-serif;
}
.receipt-limited {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@media (max-width: 384px) {
  .receipt-limited {
    height: calc(100vh - 160px);
  }
}
.receipt-button {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 384px) {
  .receipt-button {
    flex-direction: column;
    height: 160px;
  }
}
.receipt-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: white;
}
@media (max-width: 384px) {
  .receipt-button a {
    margin: 5px;
    width: 150px;
  }
}
.receipt-button a span {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
}
.receipt-button a i {
  margin-right: 10px;
}
.receipt-button a.btn-email {
  background-color: #003354;
  border-color: #002943;
}
@media (max-width: 768px) {
  .receipt-button a.btn-email {
    background-color: #91BED4;
    border-color: #7498aa;
    color: #002943;
  }
}
.receipt-button a.btn-email:hover {
  background-color: #002943;
  color: white;
}
.receipt-button a.btn-email:active {
  background-color: #335c76;
  color: white;
}
@media (max-width: 768px) {
  .receipt-button a.btn-email:active {
    background-color: #7498aa;
  }
}
.receipt-button a.btn-whatsapp {
  background-color: #22c35e;
  border-color: #1b9849;
}
.receipt-button a.btn-whatsapp:hover {
  background-color: #1b9849;
  color: white;
}
.receipt-button a.btn-whatsapp:active {
  background-color: #25D366;
  color: white;
}
.receipt-button a.btn-print {
  background-color: #F26101;
  border-color: #da5701;
}
.receipt-button a.btn-print:hover {
  background-color: #da5701;
  color: white;
}
.receipt-button a.btn-print:active {
  background-color: #f3711a;
  color: white;
}
