@import 'basic.less';

.col-lg-4{
    @media(max-width:768px){
        padding:0 !important;
    }
}

.container-loader{
    height: 80vh;
}

.back-box{
    .back-inside{
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @blue-light1;
        i{ 
            width: 100px;
            text-align: center;
            font-size: 32px;
            padding: 5px;
        }
        span{
            width: 70%;
            padding: 5px;
            font-size: 24px;
            font-family: @font-sans;
            font-weight: 700;
            @media(max-width: 512px){
                font-size: 16px;
            }
        }
    }
    @media(min-width: 769px){
        padding: 5px;
        margin-bottom: 20px;
        .back-inside{
            background-color: @blue;
            flex-direction: column;
            justify-content: center;
            height: 250px;
            border-radius: 25px;
            i{
                width: 100%;
                font-size: 125px;
                color: @skyblue-light3;
            }
            span{
                font-size: 18px !important;
                text-align: center;
                color: @skyblue-light3;
            }
            &:hover{
                background-color: @blue-dark1;
            }
            &:active{
                background-color: @blue-light1;
            }
        }
    }
}

.cart-box{
    width: 90vw;
    max-width: 512px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: @sunset;
    margin: auto;
    margin-bottom: 2.5%;
    border-radius: 15px;
    a{
        &.checkout{
            border-radius: 15px 0 0 15px;
        }
        &.clear-cart{
            border-radius: 0 15px 15px 0;
        }
        &:hover{
            background-color: @sunset-dark1;
        }
        &:active{
            background-color: @sunset-light1;
        }
    }
    .checkout{
        color: white;
        text-decoration: none;
        width: 80%;
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        i{
            font-size: 64px;
            margin-right: 20px;
        }
        span{
            font-family: @font-sans;
        }
        h5{
            font-family: @font-sans;
            font-weight: 800;
            margin: 0;
        }
    }
    .clear-cart{
        width: 20%;
        height: 100%;
        display: flex;        
        color: white;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        @media(max-width: 512px){
            justify-content: flex-start;
        }
        i{
            font-size: 48px;
        }
    }
}
